p {
    font-size: 16px;
    text-align: justify
}

#test {
    background-image: url(../apple-desk-office-technology.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    border-radius: 0px;
}

.navbar-inverse {
    background-color: #212121;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.nav.navbar-nav li a {
    color: #FFFFFF;
}

.navbar li {
    color: #000;
}

.header h1,
.header h2 {
    text-align: center;
    padding-top: 9%;
    padding-bottom: 9%;
    color: white;
}

#about {
    padding: 30px;
    background-color: #FFFFFF;
}

#aboutMeHeader {
    color: #00D400;
}

#about p {
    text-align: justify;
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url("../imgPatrick.jpg") no-repeat;
    background-size: contain;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

#recentProjects {
    padding-top: 1%;
    padding-bottom: 1%;
}

#recentProjects {
    text-align: center;
}

#experienceList {
    list-style: none;
}

#contact {
    background-color: #383838;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

#contact p,
#contact h2 {
    text-align: center;
}

.contactIcons {
    text-align: center;
}

#resume {
    background-color: #383838;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

#resume h2 {
    text-align: center;
}

footer {
    background-color: #212121;
}

footer p {
    text-align: center;
    color: #FFFFFF;
    padding-top: 1%;
    padding-bottom: 1%;
}