p {
    font-size: 16px;
    text-align: justify
}

#test {
    background-image: url(../apple-desk-office-technology.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background-color: white;
    border-color: transparent;
    opacity: 0.75;
}

.navbar li {
    color: #000
}

.header h1,
.header h2 {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    color: white;
}

#about {
    padding: 30px;
    background-color: #FFFFFF;
}

#aboutMeHeader {
    color: #00D400;
}

#about p {
    text-align: justify;
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url("../imgPatrick.jpg") no-repeat;
    background-size: contain;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

#experienceList {
    list-style: none;
}

#contact p,
#contact h2 {
    text-align: center;
}

.contactIcons {
    text-align: center;
}

footer p {
    text-align: center;
}